.card {
    display: inline-block;
    background-color: rgba(246, 245, 244, 1);
    padding: 25px 30px 25px 30px;
    border-radius: 20px;
    width: 425px;
    height: 255px;
}

.card .boxOne,
.card .boxTwo,
.card .boxThree {
    display: flex;
}

.card .titleBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card h1,
.card h2,
.card p {
    font-family: "Pretendard";
    text-align: left;
}

.card h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
}

.card h2 {
    color: rgba(139, 102, 102, 1);
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}

.card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0 5px;
    margin-right: 0 5px;
    box-sizing: border-box;
}

.card .tagWrapper,
.card .commentCountWrapper,
.card .categoryWrapper {
    margin: 10px 0px 20px 0;
    display: flex;
    flex-direction: row;
}

.card .tagWrapper {
    justify-content: flex-start;
}

.card .commentCountWrapper,
.card .categoryWrapper {
    justify-content: flex-end;
    margin-left: auto;
}

.card .tag {
    background-color: rgba(232, 236, 208, 1);
    padding: 3px 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.tag:after {
    content: "";
}